@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    height: 100%;
    background-color: #EEEEEE;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
* {
    margin:0;
	padding:0;
    box-sizing: border-box;
}
.app_container {
    margin: 10px;
}
#map {
    height: 700px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0B5ED7;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
#map {
    height: 700px;
}
.formType1 {
    padding: 10px 10px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 5px;
    max-width: 350px;
    background-color: rgba(240, 240, 240, 0.767);
    position: absolute;
    left: 20px;
    z-index: 10;
}
#locationInput {
    top: 100px;
}
.routeStep {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.routeStep p {
    line-height: 1.5rem;
    margin-right: 5px;
    margin-bottom: 0;
}
.routeStep svg {
    display: none;
}
.soundBtn {
    color: blue;
}
.routeStep.top svg {
    display: block;
} 

#routeStepList {
    top: 250px;
}
#navigationInput {
    top: 300px;
}
.canvasContainer {
    display: none;
}
.formType2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 350px;
}

/*.submitBtn, .autofill-btn{
    padding: 5px 15px;
    background-image: linear-gradient(to bottom right, rgb(202, 34, 188), rgb(240, 36, 87));
    border: 1px solid rgb(156, 11, 132);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.deleteBtn{
    padding: 5px 15px;
    background-image: linear-gradient(to bottom right, rgb(179, 5, 5), rgb(136, 7, 7));
    border: 1px solid rgb(77, 3, 3);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}*/

input[type=text] {
    width: 80%;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid grey;
}
.fit-image{
    width: 100%;
    object-fit: cover
    }

.mapboxgl-popup-content{
    color: rgb(9, 11, 116);
    max-width: 250px;
}

.mapboxgl-popup-content-wrapper{
    padding: 1%;
}

.popupBtn-wrapper{
    text-align: right;
}

.popupBtn{
    padding: 4px 10px;
    background-image: linear-gradient(to bottom right, rgba(30, 38, 59, 0.829), rgba(36, 84, 240, 0.781));
    border: 1px solid rgba(35, 37, 179, 0.651);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#adminHeading{
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px #000000;
  }

.tab-pane{
    background-color: white;
    padding: 20px;
    border-radius: 0px 20px 20px 20px;
  }

.nav-tabs .nav-link{
    background-color: white;
  }

.roomOnly, .roomOnly2{
    display: none;
}
.btn-primary {
    border-radius: 10px;
}
.navBtn {
    margin: 5px;
    width: 100%;
}

/*#wch{
    background-color: rgba(76, 197, 96, 0.664);
    border-radius: 25px;
    padding: 15px;
    zoom: 60%;
}

#wb{
    background-color: rgba(220, 144, 223, 0.548);
    border-radius: 25px;
    padding: 15px;
    zoom: 60%;
}

#sb{
    background-color: rgba(85, 190, 194, 0.692);
    border-radius: 25px;
    padding: 15px;
    zoom: 60%;
}*/

.listCol{
    background-color: rgba(238, 219, 113, 0.548);
    border-radius: 25px;
    padding: 15px;
    zoom: 60%;
}
#roomlist {
    font-size: 30px;
}

.room-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: rgb(15, 122, 175);
    text-decoration: underline;
    cursor: pointer;
  }
.timeRange {
    display: flex;
}
.timeRange input {
    margin-left: 5px;
}
#speechBox {
    border: 1px solid gray; 
    height: 50px; 
    border-radius: 8px;
}
#interimSpeech {
    color: rgb(126, 126, 126);
}
#finalSpeech {
    color: rgb(0, 0, 0);
}

.dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.dataTable td, .dataTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.dataTable tr:nth-child(even){background-color: #f2f2f2;}
  
.dataTable tr:hover {background-color: #ddd;}
  
.dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.dataTable input {
    width: 100%;
    border: none;
    background: transparent;
}

.changedValue{
    background-color: #FDCFF3 !important;
}

#archiveDataTbl th{
    background-color: #a51551;
}

#dataBtns {
    margin: 0 auto;
}

.dataDltBtn {
    color: rgb(224, 22, 22);
}

.dataPlusBtn {
    color: #04AA6D;
}

.dataRestoreBtn {
    color: #04AA6D;
}

.dataViewBtn {
    color: #8519b8;
}
.undoBtn {
    color: #007bff;
}

#confirm, #info {
    display: none;
    background-color: #f5f5f5;
    border: 5px solid #aaa;
    border-radius: 5px;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
 }
 #confirm button {
    cursor: pointer;
 }
 #confirm .message {
    text-align: center;
}

#info button {
    cursor: pointer;
 }
 #info .message {
    text-align: center;
}
#mapContainer {
    position: relative;
}
#directionBtn {
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 2;
}
.searchInput {
    display:flex;
}
.searchInput button {
    height: 80%;
    margin: 8px 1rem;
}
.searchInput p {
    height: 80%;
    margin: 8px 1rem;
}
.errorText {
    color: red;
    display: none;
}
#adminMode {
    margin-right: 1rem;
}
.data_page {
    margin: 1rem;
}
#tutorial_container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 500;
    height: 125rem;
    position: absolute;
    text-align: center;
}
#tutorial_container {
    color: white;
}
#tutorial_container p {
    font-size: 1rem;
}
#tutorialStep1 {
    position: absolute;
    top: 20%;
    left: 18%;
}
#tutorialStep2 {
    position: absolute;
    top: 1.5%;
    right: 3%;
    display : none;
    width: 12rem;
}
#tutorialStep3 {
    position: absolute;
    display: none;
    width: 12rem;
    top: 9%;
    left: 5%;
}
#tutorialStep4 {
    position: fixed;
    display: none;
    top: 90%;
    right: 7%;
}
#tutorialStep5 {
    position: absolute;
    display: none;
    top: 1.5%;
    right: 9%;
    width: 12rem;
}
.navColumn {
    display: flex
}
.navColumn button {
    margin-left: 1rem;
}
.navColumn .errorText {
    padding: .375rem;
    margin: 0;
}

nav li {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#minimap {
    width: 400px;
    height: 150px
}
#mapMenu {
    display: flex;
}

@media only screen and (max-width: 500px) {
    table {
        display: block;
        width: 100%;
    }
    tbody {
        width: 20rem;
    }
    tr {
        display: block;
        width: 30rem;
    }
    td {
        display: block;
        width: 100%;
    }
    th {
        display: block;
        width: 100%;
    }
    .col-md-3 {
        margin-bottom: 1rem;
    }
  }


