body {
    margin: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.formType1 {
    padding: 10px 10px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 5px;
    max-width: 350px;
    background-color: rgba(240, 240, 240, 0.767);
    position: absolute;
    left: 20px;
    z-index: 10;
}
#locationInput {
    top: 100px;
}
#navigationInput {
    top: 300px;
}

.formType2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 350px;
}

.submitBtn, .autofill-btn{
    padding: 5px 15px;
    background-image: linear-gradient(to bottom right, rgb(202, 34, 188), rgb(240, 36, 87));
    border: 1px solid rgb(156, 11, 132);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.deleteBtn{
    padding: 5px 15px;
    background-image: linear-gradient(to bottom right, rgb(179, 5, 5), rgb(136, 7, 7));
    border: 1px solid rgb(77, 3, 3);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

input[type=text] {
    width: 80%;
    padding: 5px 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid grey;
}
.fit-image{
    width: 100%;
    object-fit: cover
    }

.mapboxgl-popup-content{
    color: rgb(9, 11, 116);
    max-width: 250px;
}

.mapboxgl-popup-content-wrapper{
    padding: 1%;
}

.popupBtn-wrapper{
    text-align: right;
}

.popupBtn{
    padding: 4px 10px;
    background-image: linear-gradient(to bottom right, rgba(30, 38, 59, 0.829), rgba(36, 84, 240, 0.781));
    border: 1px solid rgba(35, 37, 179, 0.651);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#adminHeading{
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px #000000;
  }

.tab-pane{
    background-color: white;
    padding: 20px;
    border-radius: 0px 20px 20px 20px;
  }

.nav-tabs .nav-link{
    background-color: white;
  }

.roomOnly{
    display: none;
}
.btn-primary {
    border-radius: 10px;
}
.navBtn {
    margin: 5px;
    width: 100%;
}
